.tag {
  text-align: center;
}

.tag .section-text {
  max-width: 50ch;
  margin-inline: auto;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-block-start: 24px;
}