/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.navbar,
.header .btn-primary {
  display: none;
}

.header {
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  gap: 20px;
  padding-inline: 16px;
  border-block-end: 1px solid var(--outline);
  z-index: 4;
}

.theme-switch {
  margin-inline-start: auto;
}

[data-theme="light"] :where(.logo-dark, .theme-switch .light-icon),
[data-theme="dark"] :where(.logo-light, .theme-switch .dark-icon) {
  display: none;
}