.footer .logo { display: none; }

.footer {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  border-block-start: 1px solid var(--outline);
}

.copyright { opacity: 0.8; }

.footer .edamam img {
  width: 180px;
}